h1 {
  color: white;
  text-align: center;
  font-size: 45px;
}

#No {
  color: lightcoral;
    text-align: center;
    font-size: 100px;
    bottom: 50%;
    position: relative;
    z-index: 10000;
}

.wrapper {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#OSButton {
  text-align: center;
  justify-content: center;
  visibility: hidden;
}