body{
    background-image: url("assets/banana.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
#pc_image {
    position: fixed;
}

#pb_image {
    position: absolute;
    left : 900px;
    top : 900px;
}
#darken {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5); /* 0.5 = 50% sombre */
    pointer-events: none; /* pour garder les clics */
    z-index: 9999;
}