html{
    height: 100%;
    width: 100%;
}
body{
    background-image: url("assets/bg.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
#pc_image {
    position: fixed;
}

#pb_image {
    position: absolute;
    left : 80%;
    top : 50%;
}

#darken {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5); 
    pointer-events: none;
    z-index: 9999;
}
#transparent-square1 {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 200px;

}

