html{
    height: 100%;
    width: 100%;
}
body{
    background-image: url("assets/bg.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
}
#pc_image {
    position: fixed;
}
#bornedarcade{
    visibility:hidden;
    width: 100px;
    height: 100px;
    transform: translate(+999%, -20%);
    position: relative;
    top: 75vh;
    left: 80vh;
}
#pb_image {
    position: absolute;
    visibility:visible;

    left : 80%;
    top : 60%;
}

#darken {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5); 
    pointer-events: none;
    z-index: 9999;
}

#pc-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
}
.pc-btn {
    position: absolute;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 8px;
}

#btn-mb {
    top: 370px;
    left: 150px;;}
#btn-ssd {    top: 320px;
    left: 340px;}
#btn-ram { top: 150px;
    left: 200px; }

.pc-btn.usedfalse {
    position: absolute;

}
.pc-btn.usedfalse {
    background-color: red;
    color: white;
    cursor: not-allowed;
}

.pc-btn.usedtrue {
    background-color: green;
    color: white;
    cursor: not-allowed;
}

#pc-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    gap: 10px;
}


.pc-btn {
    cursor: pointer;
}
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 100%,
        0 0,
        0 200px,
        300px 200px,
        300px 400px,
        0 400px,
        0 0
    );
}

.motherboard-image, .ram-image, .ssd-image
{
    display: flex;
    align-items: center;   
    width: 150px;
    cursor: pointer;
    justify-content:center;
}

#imagesContainer, #imagesContainer2, #imagesContainer3 {
    display: flex;
    justify-content:center;
    align-items: center;   
    gap: 40px;
    flex-wrap: wrap;
    margin-top: -10vh;
}