html{
    height: 100%;
    width: 100%;
}
body{
    background-image: url("assets/bg.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
#pc_image {
    position: fixed;
}

#pb_image {
    position: absolute;
    visibility:visible;

    left : 80%;
    top : 60%;
}

#darken {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5); 
    pointer-events: none;
    z-index: 9999;
}
.transparent-square {
    width: 150px;
    height: 150px;
    visibility:hidden;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    position: absolute;
    top: 1%;
    left: 1%;

}
.pc-btn.used {
    background-color: green;
    color: white;
    cursor: not-allowed;
}

#pc-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    gap: 10px;
}


.pc-btn {
    cursor: pointer;
}

.motherboard-image {
    width: 100px;
    cursor: pointer;
}

#imagesContainer, #imagesContainer2, #imagesContainer3 {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}